h1 {
    text-align: center;
    margin-top: 50px;
    color: red !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cbcbe9;
    padding: 10px;
    text-align: center;
    font-size: medium;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  img {
    width: 3rem;
    margin: 0px 2px 0px 2px;
  }
  .table {
    margin-top: 100px;
  }